
{% extends "app.html" %}

{% block body %}
<div class="container">

  <p><strong>Allgemeine Datenschutzerklärung</strong></p>

  <p>Durch die Nutzung unserer Website erkl&auml;ren Sie sich mit der
  Erhebung, Verarbeitung und Nutzung von Daten gem&auml;ß der
  nachfolgenden Beschreibung einverstanden. Unsere Website kann
  grunds&auml;tzlich ohne Registrierung besucht werden. Dabei werden
  Daten wie beispielsweise aufgerufene Seiten bzw. Namen der
  abgerufenen Datei, Datum, Uhrzeit, Browsertyp und verwendetes
  Betriebssystem zu statistischen Zwecken auf dem Server gespeichert,
  ohne dass diese Daten unmittelbar auf Ihre Person bezogen
  werden. Personenbezogene Daten, insbesondere Name, Adresse oder
  E-Mail-Adresse werden soweit m&ouml;glich auf freiwilliger Basis
  erhoben. Ohne Ihre Einwilligung erfolgt keine Weitergabe der Daten
  an Dritte.</p>

  <p><strong>Datenschutzerkl&auml;rung f&uuml;r Cookies</strong></p>

  <p>Unsere Website verwendet Cookies. Das sind kleine Textdateien,
  die es m&ouml;glich machen, auf dem Endger&auml;t des Nutzers
  spezifische, auf den Nutzer bezogene Informationen zu speichern,
  w&auml;hrend er die Website nutzt. Cookies erm&ouml;glichen es,
  insbesondere Nutzungsh&auml;ufigkeit und Nutzeranzahl der Seiten zu
  ermitteln, Verhaltensweisen der Seitennutzung zu analysieren, aber
  auch unser Angebot kundenfreundlicher zu gestalten. Cookies bleiben
  &uuml;ber das Ende einer Browser-Sitzung gespeichert und k&ouml;nnen
  bei einem erneuten Seitenbesuch wieder aufgerufen werden. Wenn Sie
  das nicht w&uuml;nschen, sollten Sie Ihren Internetbrowser so
  einstellen, dass er die Annahme von Cookies verweigert.</p>

  <p>Quelle: <a href="http://www.anwalt.de/vorlage/muster-datenschutzerklaerung.php" title="Vorlage Datenschutzerkl&auml;rung von anwalt.de">Muster-Datenschutzerkl&auml;rung von anwalt.de</a></p>
</div>

{% endblock %}

