{% extends "app.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.min.css') }}" type="text/css" />
{% endblock %}

{% block body %}

<div class="container">
  <div id="sign-up">
    <h1 style="margin: 1em;">
      <span id="question">
        Want to create your own travel logs?
      </span>
    </h1>

    <a href="https://github.com/crst/travel-log" target="_blank" class="btn btn-success btn-lg">View project on GitHub</a>

  </div>
</div>

{% endblock %}
