{% extends "app.html" %}

{% block body %}

<div class="jumbotron">
  <div class="container">
    <h2>Really delete item?</h2>
    <p><i>{{ item_desc }}</i></p>
    <h4>There is no undo for this!</h4>

    <form method="POST" class="form-inline">
      <input name="_csrf_token" type="hidden" value="{{ generate_csrf_token() }}">
      <input type="hidden" id="id_item" name="id_item">
      <button type="submit" class="btn btn-danger">Delete item</button>
      <a href="{{ url_for('edit.index', user_name='%s' % user_name, album_title='%s' % album_title) }}" class="btn btn-success">Back to editing</a>
    </form>
  </div>
</div>

{% endblock %}
