
body {
    background: url(background.jpg) no-repeat fixed center center;
    background-size: cover;

    color: #333333;
}

article {
    padding: 1em 4em 1em 4em;
    background: rgba(231, 231, 231, 0.9);
}

img {
    max-width: 100%;
}

.row {
    padding-bottom: 2em;
}

.description {
    font-weight: bold;
}
