
#tile-image-upload {
    min-height: 450px;
    max-height: 500px;
}

#thumbnail-list {
    max-height: 400px;
    overflow: scroll;
}

#current-item img {
    width: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    outline: none;
    cursor: inherit;
}


#tile-main {
    min-height: 450px;
}


#tile-map {
    min-height: 200px;
}

#map-panel {
    width: 100%;
    height: 200px;
    padding: 0;
}


#tile-text {
    min-height: 200px;
}

#text-panel {
    padding: 0;
    width: 100%;
    height: 100%;
}


#tile-timeline {
    text-align: center;
}
