{% extends "app.html" %}

{% block body %}

<div class="jumbotron">
  <div class="container">
    <h1>Create a new album</h1>
    <h4>All new albums will be private by default. You can change this
      later in the <b>Share</b> section.</h4>

    <form method="POST" class="form-inline">
      <input name="_csrf_token" type="hidden" value="{{ generate_csrf_token() }}">
      <div class="form-group">
        <label class="sr-only" for="album_title">Album name</label>
        <div class="input-group">
          <div class="input-group-addon">{{ current_user.name }} / </div>
          <input type="text" class="form-control" id="album_title" name="album_title" placeholder="my-cool-vacation-in-hawaii" autofocus>
        </div>
        <input type="text" class="form-control" id="album_desc" name="album_desc" placeholder="it was really cool">
      </div>
      <button type="submit" class="btn btn-primary">Create album</button>
    </form>
    <div class="errors">
      {% for error in errors %}
      <p><code>{{ error }}</code></p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
