{% extends "app.html" %}

{% block body %}

<div class="jumbotron">
  <div class="container">
    <h2>Really delete album <b>{{ album_title }}</b>?</h2>
    <h4>There is no undo for this!</h4>

    <form method="POST" class="form-inline">
      <input name="_csrf_token" type="hidden" value="{{ generate_csrf_token() }}">
      <input type="hidden" id="album_name" name="album_name">
      <button type="submit" class="btn btn-danger">Delete album</button>
      <a href="{{ url_for('user.index', user_name='%s' % user_name) }}" class="btn btn-success">Back to overview</a>
    </form>
  </div>
</div>

{% endblock %}
