{% extends "app.html" %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/osm/ol.css') }}" type="text/css" />
<script type="text/javascript" src="{{ url_for('static', filename='lib/osm/ol.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}" type="text/css" />
<script type="text/javascript" src="{{ url_for('static', filename='edit.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='edit.css') }}" type="text/css" />
{% endblock %}


{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="tile-header" class="tile panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6">
              Editing album <b>{{ album_title }}</b>
              <input type="text" class="form-inline" id="album-description">
              <a href="{{ url_for('album.index', user_name='%s' % user_name, album_title='%s' % album_title) }}" target="_blank" title="Preview"><span class="glyphicon glyphicon-camera"></span></a>
              <a href="{{ url_for('share.index', user_name='%s' % user_name, album_title='%s' % album_title) }}" target="_blank" title="Edit share settings"><span class="glyphicon glyphicon-share"></span></a>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
              <div id="last-saved"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12">
          <div id="tile-image-upload" class="tile panel panel-default">
            <div class="panel-heading">
              Image upload
            </div>
            <div class="panel-body">
              <form class="form-inline" style="margin-bottom: 1em;">
                <div class="form-group">
                  <label for="album-autoplay-delay">
                    Autoplay delay
                  </label>
                  <input type="number" min="1" max="30" class="form-control" id="album-autoplay-delay" name="album-autoplay-delay"/>
                </div>
              </form>

              <div id="thumbnail-list" class="row">
              </div>

              <div style="margin-top: 1em; float: right;">
                <form id="upload-file" action="" method="POST" enctype="multipart/form-data">
                  <span id="item-upload-button" class="btn btn-primary btn-file" data-loading-text="Uploading...">Browse<input id="image-file" name="file" type="file"></span>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div id="tile-background" class="tile panel panel-default">
            <div class="panel-heading">Album background</div>
            <div id="background-tabs" class="panel-body">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#background-image-tab" aria-controls="background-image-tab" role="tab" data-toggle="tab">Image</a></li>
                <li role="presentation"><a href="#background-color-tab" aria-controls="background-color-tab" role="tab" data-toggle="tab">Color</a></li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="background-image-tab">
                  <form id="upload-background" action="" method="POST" enctype="multipart/form-data">
                    <span id="album-background-upload-button" class="btn-background btn-file btn btn-xs btn-success" data-loading-text="Uploading...">
                      <span class="glyphicon glyphicon-picture"> Upload
                        <input id="background-image" name="file" type="file">
                      </span>
                    </span>
                  </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="background-color-tab">
                  <span class="glyphicon glyphicon-pencil"></span> Choose
                  <input id="album-background-color" type="color" name="album-background-color">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div id="tile-main" class="tile panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div id="toggle-current-item-col" class="col-md-1">
              <a id="toggle-current-item" href="javascript:void(0);" class="btn btn-xs">
                <span class="glyphicon"></span>
              </a>
            </div>
            <div class="col-md-10">Current</div>
            <div id="delete-current-item-col" class="col-md-1">
              <a id="delete-current-item" href="javascript:void(0);" class="btn btn-xs btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </div>
          </div>
        </div>
        <div id="current-item" class="panel-body"></div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div id="tile-map" class="tile panel panel-default">
            <div class="panel-heading">Map</diV>
            <div id="map-panel" class="panel-body">
              <div id="map" style="height: 50px; width: 100%;"></div>
            </div>
          </diV>
        </div>
      </diV>

      <div class="row">
        <div class="col-md-12">
          <div id="tile-timestamp" class="tile panel panel-default">
            <div class="panel-heading">Time</div>
            <div class="panel-body">
              <input type="text" class="form-control" id="item-timestamp"/>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div id="tile-text" class="tile panel panel-default">
            <div class="panel-heading">Description</div>
            <div id="text-panel" class="panel-body">
              <textarea rows=5 class="form-control" id="item-description" placeholder="Your text"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="container">
</div>

{% endblock %}
