{% extends "app.html" %}

{% block body %}

<div class="container">
  {% for msg in get_flashed_messages() %}
  <div class="well"><code>{{ msg }}</code></div>
  {% endfor %}

  <div class="jumbotron">
    <div class="row">
      <div class="col-md-2">
        <span class="glyphicon glyphicon-user" style="font-size: 4em;"></span>
      </div>
      {% if is_current_user %}
      <div class="col-md-8">
        <h2>Hello, {{ user }}</h2>
      </div>
      <div class="col-md-2">
        <a href="{{ url_for('album.new_album', user_name='%s' % user) }}" class="btn btn-success">Create a new album</a>
      </div>
      {% else %}
      <div class="col-md-10">
        <h3>{{ user }}</h3>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <h3>Albums</h3>
    </div>
  </div>

  {% for album in albums %}
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b>{{ album.album_title }}</b>
          {% if is_current_user %}<span class="label label-info">{{ album.share_type_name }}</span>{% endif %}
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-5">
              <a href="{{ url_for('album.index', user_name='%s' % user, album_title='%s' % album.album_title) }}" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-camera"></span> View</a>
              {% if is_current_user %}
              <a href="{{ url_for('edit.index', user_name='%s' % user, album_title='%s' % album.album_title) }}" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a>
              <a href="{{ url_for('share.index', user_name='%s' % user, album_title='%s' % album.album_title) }}" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-share"></span> Share</a>
              {% endif %}
            </div>
            <div class="col-md-6">
              {{ album.album_desc }}
            </div>
            <div class="col-md-1">
              {% if is_current_user %}
              <a href="{{ url_for('album.delete_album', user_name='%s' % user, album_title='%s' % album.album_title) }}" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
