{% extends "app.html" %}

{% block body %}

<div class="container">
  {% for msg in get_flashed_messages() %}
  <div class="well"><code>{{ msg }}</code></div>
  {% endfor %}

  <div class="jumbotron">
    <h2>Hello, {{ current_user.name }}</h2>
    <p><a href="{{ url_for('album.new_album', user_name='%s' % current_user.name) }}" class="btn btn-success">Create a new album</a></p>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8"><h3>Your albums</h3></div>
  </div>
  {% for album in albums %}
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b><a href="{{ url_for('album.index', user_name='%s' % current_user.name, album_title='%s' % album.album_title) }}">{{ album.album_title }}</a></b>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-11">
              <a href="{{ url_for('edit.index', user_name='%s' % current_user.name, album_title='%s' % album.album_title) }}" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a>
              <a href="{{ url_for('share.index', user_name='%s' % current_user.name, album_title='%s' % album.album_title) }}" class="btn btn-info"><span class="glyphicon glyphicon-share"></span> Share</a>
            </div>
            <div class="col-md-1">
              <a href="{{ url_for('album.delete_album', user_name='%s' % current_user.name, album_title='%s' % album.album_title) }}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
