
body {
    background: url(background.jpg) no-repeat fixed center center;
    background-size: cover;
}

#featured {
    padding: 25px;
    border: 1px solid #333333;
    background: #f5f5f5;
    opacity: 0.75;

    box-shadow: 5px 5px 4px 0px rgba(30, 30, 30, 0.9);
    border-radius: 4px;

    text-align: center;
}

#sign-up {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 120px;
    margin-left: -400px;
    margin-top: -60px;
    color: #f5f5f5;
    text-align: center;
}

#question {
    background: rgba(50, 50, 50, 0.5);
    box-shadow:  5px  5px 5px 0px rgba(50, 50, 50, 0.5),
                -5px -5px 5px 0px rgba(50, 50, 50, 0.5);
}
